outflow/*
!outflow/*.bin
!outflow/*.bit
!outflow/*.hex
work_dbg/
work_pnr/
work_pt/
work_syn/
embedded_sw/sap/.metadata/
embedded_sw/sap/software/freeRTOS/
embedded_sw/sap/software/standalone/apb3Demo/
embedded_sw/sap/software/standalone/axi4Demo/
embedded_sw/sap/software/standalone/compatibilityDemo/
embedded_sw/sap/software/standalone/coremark/
embedded_sw/sap/software/standalone/coreTimerInterruptDemo/
embedded_sw/sap/software/standalone/customInstructionDemo/
embedded_sw/sap/software/standalone/dCacheFlushDemo/
embedded_sw/sap/software/standalone/dhrystone/
embedded_sw/sap/software/standalone/fpuDemo/
embedded_sw/sap/software/standalone/i2cDemo/
embedded_sw/sap/software/standalone/i2cEepromDemo/
embedded_sw/sap/software/standalone/i2cMasterDemo/
embedded_sw/sap/software/standalone/i2cSlaveDemo/
embedded_sw/sap/software/standalone/iCacheFlushDemo/
embedded_sw/sap/software/standalone/inlineAsmDemo/
embedded_sw/sap/software/standalone/memTest/
embedded_sw/sap/software/standalone/nestedInterruptDemo/
embedded_sw/sap/software/standalone/openocdServer/
embedded_sw/sap/software/standalone/semihostingDemo/
embedded_sw/sap/software/standalone/smpDemo/
embedded_sw/sap/software/standalone/spiDemo/
embedded_sw/sap/software/standalone/spiReadFlashDemo/
embedded_sw/sap/software/standalone/spiWriteFlashDemo/
embedded_sw/sap/software/standalone/uartEchoDemo/
embedded_sw/sap/software/standalone/uartInterruptDemo/
embedded_sw/sap/software/standalone/userInterruptDemo/
embedded_sw/sap/software/standalone/userTimerDemo/
embedded_sw/sap/software/standalone/*/.settings/
embedded_sw/sap/software/standalone/*/.cproject
embedded_sw/sap/software/standalone/*/.project
